@{
    ViewBag.Title = "Home Page";
}
@*<div class="row centered">
        <label class="contentLabel contentLabelDiv" style="font-size: 70px;">légy te is</label>
    </div>*@
<div id="logo_video" class="row video">
    @*<img src="https://localhost:44393/9BB26D1F-59F2-4E5E-936A-B5F9CD7D6EF5.png" />*@
    <video width="640" height="360" autoplay loop>
        <source src="https://localhost:44393/clodessvector_originalcolor.mp4" type="video/mp4" />
    </video>
</div>
<div id="content" class="row centered bgimg child-div">
    <div class="row">
        <label class="contentLabel contentLabelDiv" style="font-size: 70px;">bontakozz ki...</label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="contentLabel contentLabelDiv" style="font-size: 40px;">inspirálódj!</label>
        </div>
        <div class="col-md-6">
            <label class="contentLabel contentLabelDiv" style="font-size: 40px;">csatlakozz!</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://localhost:44393/bulb.png" />
        </div>
        <div class="col-md-6">
            <img src="https://localhost:44393/net.png" />
        </div>
    </div>
    @*<div class="row">
            <label class="contentLabel" style="font-size: 50px;">csábítsd el az üzlet és a technológia világát</label>
        </div>
        <div class="row">
            <label class="contentLabel">csatlakozz hozzánk</label>
        </div>*@
</div>

<div class="row">

</div>